.homeTop
  .homeTop__Sidebar
    = render 'messages/side_bar'
  .homeTop__Main
    .homeTopMainWrapper
      .homeTopMainWrapperTitle
        ChatRoom
      .homeTopMainWrapperDirection
        ← ← ← 好きな部屋に入ってね
