.homeTop
  .homeTop__Sidebar
    = render 'messages/side_bar'
  .homeTop__Main
    .homeTopMainWrapper
      .homeTopMainWrapperTitle
        ChatRoom
      .homeTopMainWrapperDirection.hidden
        ← すきな部屋を選んで入ってね
