.homeTop {
  background: $back-gray;
  display: flex;
  &__Sidebar {
    height: 100vh;
    overflow: scroll;
  }
  &__Main {
    flex-basis: 1080px;
    .homeTopMainWrapper {
      text-align: center;
      margin: 200px auto;
      width: 600px;
      &Title {
        font-size: 100px;
        font-weight: bold;
        height: 180px;
        line-height: 180px;
        background: aqua;
        border-radius: 50%;
        box-shadow: 3px 3px 3px 3px;
      }
      &Direction {
        margin-top: 50px;
        font-size: 30px;
        display: none;
      }
    }
  }
}
