body {
  font-family: "Comic Sans MS", "YuKyokasho";
}

.messageIndex {
  width: 100vw;
  display: flex;
  background: lighten($back-gray, 5%);
  &__chat {
    width: 1440px - 350;
  }
}
.chatRoom {
  &__header {
    height: 110px;
    background: lighten($back-gray, 10%);
    position: fixed;
    width: 100%;
    .chatHeader {
      display: flex;
      &__roomInfo {
          width: 920px;
        &-roomName {
          margin: 10px 0 5px 40px;
          font-size: 45px;
          font-weight: bold;
          color: navy;
        }
        &-member {
          margin-left: 35px;
          color: $text-gray;
          overflow: scroll;
          height: 30px;
          font-size: 16px;
          &Name {
            font-size: 14px;
            font-family: "Comic Sans MS", SimHei;
          }
        }
      }
      &__editBtn {
        width: 60px;
        height: 60px;
        border: 2px solid $btn-blue;
        margin: 22px 7px;
        line-height: 70px;
        text-align: center;
        text-decoration: none;
        color: $btn-blue;
        border-radius: 50%;
        font-family: fantasy;
      }
      &__topBtn {
        z-index: 2;
        position: absolute;
        top: 100vh-22;
        right: 100vw-73.5;
        width: 80px;
        height: 80px;
        border: 2px solid $btn-blue;
        line-height: 80px;
        text-align: center;
        color: $btn-blue;
        border-radius: 50%;
        font-family: fantasy;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  &__main {
    overflow: scroll;
    margin-bottom: 100px;
    .chatBodies {
      margin-top: 110px;
      .chatBody {
        padding: 20px 30px 0;
        min-height: 80px;
        &__name {
          font-size: 18px;
          font-weight: bold;
          color: $text-gray;
        }
        &__belongsTo {
          font-size: 11px;
        }
        &__time {
          font-size: 12px;
          font-weight: normal;
          font-family: MS PGothic;
        }
        &__delete {
          font-size: 12px;
          text-decoration: none;
          color: $btn-blue;
        }
        &__text {
          font-size: 16px;
          margin-top: 5px;
          font-family: arial;
        }
      }
    }
  }
  &__footer {
    height: 110px;
    background: darken($back-gray, 7%);
    position: fixed;
    top: 100vh-10;
    width: 100%;
    .formArea {
      padding: 15px 15px;
      &__input {
        width: 920px;
        height: 50px;
        font-size: 20px;
        padding-left: 15px;
        border-radius: 5px;
      }
      &__file {
        display: none;
      }
      .fa-3x {
        position: absolute;
        top: 19px;
        right: 500px;
        color: lighten($btn-blue, 10%);
      }
      &__btn {
        width: 90px;
        height: 50px;
        background: $btn-blue;
        margin-left: 15px;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 2px 2px 1px gray;
        border: none;
      }
    }
  }
}
