.messageIndex {
  &__sidebar {
    width: 350px;
    height: 100vh;
    background: $back-navy;
    color: white;
    overflow: scroll;
    .messageSidebar {
      &__header {
        height: 110px;
        .sidebarHeader {
          padding-top: 40px;
          display: flex;
          &__userName {
            margin: 0 10px 0 20px;
            flex-grow: 14;
            font-size: 25px;
            font-weight: bold;
            overflow: scroll;
            width: 120px;
            height: 35px;
            line-height: 30px;
          }
          &__createRoom {
            color: white;
            flex-grow: 1;
          }
          &__editAccount {
            color: white;
            flex-grow: 1;
          }
        }
      }
      &__main {
        height: 100vh-14;
        background: lighten($back-navy, 5%);
        overflow: scroll;
        .chatRooms {
          .chatRoom {
            padding: 0 10px;
            border-bottom: 1px solid $back-navy;
            height: 110px;
            color: white;
            text-decoration: none;
            display: block;
            &__roomName {
              font-size: 20px;
              margin-top: 13px;
            }
            &__latestMessage {
              margin-top: 8px;
              font-family: arial;
              font-size: 13px;
              overflow: scroll;
            }
          }
        }
      }
    }
  }
}
